body{
    background-color: #f5f5f5;
}

header {
    background-image:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1{
    font-size: 4.5rem;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.9);
}

.navbar-brand{
    font-size: 28px;
}

.nav-item{
    --bs-nav-link-hover-color: white;
}

.nav-item a{
    color: white;
}

.nav-item::after{
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    margin-left: 8px;
    margin-top: -5px;
    background-color: white;
    transition: width 0.2s linear;
}

.nav-item:hover::after {
    width: 60%;
}

.active-link::after{
    content: '';
    display: block;
    height: 2px;
    width: 60%;
    margin-left: 8px;
    margin-top: -5px;
    background-color: white;
}

.dropdown-item{
    transition: color 0.2s linear;
}

.dropdown-item:hover{
    background-color: white;
    color: rgb(10, 92, 207) !important;
}

.progress{
    height: 0.7rem;
}

.numbers-section{
    padding: 8rem;
    background-image: linear-gradient(rgba(0,120,255,0.8), rgba(0,120,255,0.8)), url(../images/counters-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.slider-section{
    padding: 8rem;
    background-image: linear-gradient(rgba(0,120,255,0.7), rgba(0,120,255,0.7)), url(../images/overlay-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.small-avatar{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.glow{
    transition: all 0.5s;
}

.glow:hover{
    color: rgb(0,120,255) !important;
}