*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gap: 20px;
}

div > img{
    display: block;
    width: 100%;
}

div{
    overflow: hidden;   
}

.section-1, .section-2
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: var(--gap);
    margin-bottom: 20px;
}




@media (min-width: 768px) {

    .section-1, .section-2{
        flex-direction: row;
    }

    .section-1 div{
        flex: 0 1 calc(50% - var(--gap)/2);
    }

    .section-2 div{
        flex: 0 1 calc(50% - var(--gap)/2);
    }
    
}

@media (min-width: 1024px) {

    .section-1 div{
        flex: 0 1 calc(25% - var(--gap)*3/4);
    }

    .section-2 div{
        flex: 0 1 calc(33.3333% - var(--gap)*2/3);
    }
    
}